<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <!-- Bootstrap required scripts -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous">
    </script>

    <!-- Misc Scripts -->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" data-search-pseudo-elements></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://rawgit.com/moment/moment/2.2.1/min/moment.min.js"></script>

    <style>
        .box {
            width: 400px;
            height: auto;
        }

        h1 {
            margin-left: 300px;
        }

        .form-group {
            width: 400px;
        }

        .center {
            margin-left: 350px;
        }
    </style>
    <title>Customer Signups</title>
    <h1>Registration Form</h1>
</head>

<body>


    <div class="container">
        <form>

            <div class="row">

                <div class="form-group">
                    <label for="Bname">Name:</label>
                    <input type="text" class="form-control" id="Bname" placeholder="Name">
                </div>
                <div class="form-group" style="padding-left:30px">
                    <label for="email">Email address:</label>
                    <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
            </div>

            <div class="row">
                <div class="form-group" style="width:300px;">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Password">
                </div>

                <div class="form-group" style="padding-left:130px">
                    <label for="pwd">Confirm Password:</label>
                    <input type="password" class="form-control" id="cpwd" placeholder="Confirm Password">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="email">Paypal account Email address:</label>
                    <input type="email" class="form-control" id="Paypal" placeholder="Paypal Email">
                </div>
                <div class="form-group" style="padding-left:30px">
                    <label for="email">Confirm Paypal account Email address:</label>
                    <input type="email" class="form-control" id="Paypal" placeholder="Paypal Email">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="BAddress">Address:</label>
                    <textarea class="form-control" id="BDescription" placeholder="Address" rows="3"></textarea>
                </div>

            </div>
            <div class="center">
                <button type="submit" class="btn btn-primary btn-lg">Register</button>
            </div>
        </form>
    </div>

    <!-- jQuery first -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <!-- Bootstrap Required Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous">
    </script>

</body>

</html>