<!doctype html>
<html lang="en">

<head>
    {% include 'head.html' %}
    <style>
        .box {
            width: 400px;
            height: auto;
        }

        h1 {
            text-align: center;
        }

        .form-group {
            width: 400px;
        }

        .center {
            margin-left: 350px;
        }
    </style>
    <title>Login Page</title>

</head>

<body>
    {% include 'nav.html' %}
    <h1>Log In</h1>
    <div class="container">

        <div class="row mx-auto">
            <form action="{{ url_for('configure_login') }}" method="POST">

                <div>

                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <input type="email" class="form-control" name='email' id="email" placeholder="Email">
                    </div>
                </div>

                <div>
                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" name='password' class="form-control" id="pwd" placeholder="Password">
                    </div>
                </div>

                <div class=form-group>
                    <h6>Select Account Type:</h6>
                </div>

                <div class="form-check form-check-inline">

                    <input class="form-check-input" type="radio"  name="acctType" id="acctType"
                        value="business">
                    <label class="form-check-label" for="acctType">Business Account</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="acctType" id="acctType2" value="customer">
                    <label class="form-check-label" for="acctType">Member Account</label>
                </div>

                <div>
                    <div style="margin-left: 130px; margin-top:20px;">
                        <button type="submit" class="btn btn-success" id='loginbtn' disabled>Log in</button>
                    </div>
                    <script>

                        $('input[type=radio][name=acctType]').change(function () {

                            if ($("input[type='radio'][name='acctType']:checked").val)  {
                                var acctType = $("input[type='radio'][name='acctType']:checked").val();
                                $('#loginbtn').prop('disabled', false);
                            } else {

                                $('#loginbtn').prop('disabled', true);
                            }
                        });

                    </script>
            </form>
        </div>
    </div>
    
    {% include 'footer.html' %}

</body>

</html>