<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'head.html' %}

    <title>Marketplace</title>
</head>

<body>
    {% include 'nav.html' %}


    <section id="Header" class="py-2">
        <div class='container text-center'>
            <h1>Your one stop Marketplace</h1>
        </div>
    </section>

    <!-- Implementing search bar with Vue -->
    <div id="app">
        <div class="container">
            <div class="input-group mb-3 justify-content-center">
                <input v-model="pName" class="w-25 rounded text-center" class="form-control"
                    placeholder="Search for something!" aria-label="Example text with button addon"
                    aria-describedby="button-addon1">
            </div>

            <div class="container text-center">
                <h4>Displaying search results for: <span style="color:firebrick; text-transform:uppercase"> ((pName)) </span></h4>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        var app = new Vue({
            el: "#app",
            data: {
                pName: "",
            },
            delimiters: ["((","))"]
        })
    </script>


    {% include 'footer.html' %}



</body>

</html>