<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'head.html' %}

    <title>Marketplace</title>
</head>

<body>
    {% include 'nav.html' %}


    <section id="Header" class="py-2">
        <div class="text-center">
            {% if 'loggedin' not in session %}
            <!-- <p></p><a href="/signup">Signup</a></p>
            <p><a href="/login">login</a></p> -->
            {% else %}
            <p>Welcome {{ user}}</p>
            {% endif %}
            <p></p><a href="/create/product"> create product</a></p>
        </div>
        <div class='container'>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">

                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 text-center">
                    <h1>Marketplace</h1>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 text-center">
                    <div class="container">
                        <p>
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseCart" aria-expanded="false" aria-controls="shopCollapse">
                                Show Cart
                            </button>
                        </p>
                        <div class="collapse" id="collapseCart">
                            <div class="card card-body">
                                <table id="displayCart">
                                    <tr>

                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <!-- Implementing search bar with Vue -->
    <div id="app">
        <div class="container">

            <div class="input-group mb-3 justify-content-center">
                <input v-model="sKey" class="w-25 rounded text-center" class="form-control"
                    placeholder="Search for something!" aria-label="Example text with button addon"
                    aria-describedby="button-addon1">
            </div>

            <div class="container text-center">
                <h4>Displaying search results for: <span style="color:firebrick; text-transform:uppercase"> ((sKey))
                    </span></h4>
            </div>

            <div class="container">
                <div class="row" id="marketSpace">
                    <p-card v-for="p in prodArr" :name="p.pname" :desc="p.pdescription" :price="p.price" :imgsrc="`http://127.0.0.1:5000/static/images/${p.imgname}`"></p-card>
                    <!-- end of vfor -->
                </div>
            </div>
        </div>

        <div class="container pb-3">
            <p>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseCart" aria-expanded="false" aria-controls="shopCollapse">
                    Show Cart
                </button>
            </p>
            <!-- Shopping cart with Vue -->
            <div class="collapse" id="collapseCart">
                <div class="card card-body">
                    <h3>Items Currently in your cart</h3>
                    <table class="table-bordered table-light" id="displayCart">
                        <tr v-for="item in cart">
                            <td>((item.pname))</td>
                            <td>$((item.price))</td>
                        </tr>
                        <tr v-if="total <= 0"> 
                            <td colspan="2"> Subtotal: $((total)) </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <script>
        let buttonArr = document.getElementsByTagName('button')
        let displayCart = document.getElementById('displayCart')

        console.log(buttonArr)
        

        


        /*function addCart() {
            for(let i=0; i < pCardArr.length; i++) {
                if (pCardArr[i].isClicked == true) {
                    
                }
            }
        }*/
        

        var app = new Vue({
            el: "#app",
            data: {
                sKey: "",
                prodArr: []
            },
            delimiters: ["((", "))"],
            async mounted() {
                // anonymous async function 
                // - using await requires the function that calls it to be async

                try {
                    var response = await axios.get("http://127.0.0.1:5001/product")
                    //console.log(response.data.data.products)
                    this.prodArr = response.data.data.products
                } catch (error) {
                    console.log(error)
                }
            }
        });


        Vue.component('p-card', {
            props: ['name', 'desc', 'price', 'imgsrc'],
            data: function () {
                return {
                    isClicked: false,
                }
            },
            delimiters: ["((", "))"],
            methods: {
                toggleClick: function () {
                    this.isClicked = !this.isClicked;
                },
            },
            template: `
            <div class="col-lg-4 col-md-6 mb-3 d-flex justify-content-center text-center">
                <div class="card" style="width: 20rem;">
                    <img :src="imgsrc" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">(( name ))</h5>
                        <p class="card-text">(( desc ))</p>
                        <p class="card-text">SGD$(( price ))</p>
                        <button class="badge rounded-pill bg-success" v-if="isClicked" @click="toggleClick" style="cursor: pointer;">Added!</button>
                        <button class="badge rounded-pill bg-light text-dark" v-else @click="toggleClick" style="cursor: pointer;">Add to cart</button>
                    </div>
                </div>
            </div>`
        })
    </script>


    {% include 'footer.html' %}



</body>

</html>