<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'head.html' %}

    <title>Marketplace</title>
    <script
        src="https://www.paypal.com/sdk/js?client-id=AVL3t_B9WIEb-CdLDHYK1sW8nXEtp7GM8Qk9m29QTvb-OYyb2dxdo_PapsHFT5KI08OyWiWDNtuL9tI0&currency=SGD">
        // Required. Replace YOUR_CLIENT_ID with your sandbox client ID.
    </script>
</head>

<body>
    {% include 'nav.html' %}


    <section id="Header" class="py-2">
        <div class="text-center">

            <p></p><a href="/create/product"> create product</a></p>
        </div>
    </section>

    <!-- Implementing search bar with Vue -->
    <div id="app">
        <div class='container'>
            <div class="row">
                <div class="col-12 text-center">
                    <h1>Marketplace</h1>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="container">
                <div class="row" id="marketSpace">
                    <div v-for="p in prodArr" class="col-lg-4 col-md-6 mb-3 d-flex justify-content-center text-center">
                        <div class="card w3-hover-shadow" style="width: 20rem; border-radius: 20px;">
                            <img :src="`http://127.0.0.1:5000/static/images/${p.imgname}`" class="card-img-top"
                                style="border-top-left-radius: 20px;border-top-right-radius: 20px">
                            <div class="card-body">
                                <h5 class="card-title">(( p.pname ))</h5>
                                <p class="card-text">(( p.pdescription ))</p>
                                <p class="card-text">SGD$(( p.price ))</p>
                                <input type="radio" :value="p" v-model="cart">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="paymentContainer" class="container text-center">
                <h3>You are about to purchase: <span style="color:darkcyan"> ((cart.pname)) </span></h3>
                <br> <br>
                <div id="container">
                    <pay></pay>
                </div>
                <!-- <div style='text-align:center;' id="paypal-button-container"></div> -->
                <!-- <div class="center" id='alert'></div> -->
            </div>
        </div>
    </div>

    </div>

    <script>
        var app = new Vue({
            el: "#app",
            data: {
                sKey: "",
                prodArr: [],
                cart: []
            },
            delimiters: ["((", "))"],
            async mounted() {
                // anonymous async function 
                // - using await requires the function that calls it to be async

                try {
                    var response = await axios.get("http://127.0.0.1:5001/product")
                    //console.log(response.data.data.products)
                    this.prodArr = response.data.data.products
                } catch (error) {
                    console.log(error)
                }
            },
        });

        var PAYPAL_CLIENT = 'AVL3t_B9WIEb-CdLDHYK1sW8nXEtp7GM8Qk9m29QTvb-OYyb2dxdo_PapsHFT5KI08OyWiWDNtuL9tI0';
        var PAYPAL_SECRET = 'EF1n5ItUXHKwB8qI7HRGzLtN9M5U9omdMKYTRm0BSvUkRgCr5LLyQvThBN4OJMl3a09yGFU8oXVf8Jpb';
        var PAYPAL_ORDER_API = 'https://api-m.paypal.com/v2/checkout/orders/';

        const PayPalButton = paypal.Buttons.driver("vue", window.Vue);

        Vue.component("pay", {
            template: `
            <paypal-buttons [props]="{
                createOrder: createOrder,
                onApprove: onApprove
            }"></paypal-buttons>
            `,
            components: {
                "paypal-buttons": PayPalButton,
            },

            computed: {
                createOrder: function (data, actions) {
                    return actions.order.create({
                        purchase_units: [{
                            amount: {
                                value: "0.01",
                            },
                        }, ],
                    });
                },
                onAuthorize: function (data, actions) {
                    return actions.order.capture();
                },
            },
        });

        var vm = new Vue({
            el: "#container",
        });
    </script>


    {% include 'footer.html' %}



</body>

</html>