<!DOCTYPE html>
<html ng-app lang="en">

<head>
    {% include 'head.html' %}

    <title>Marketplace</title>
</head>

<body>
    {% include 'nav.html' %}


    <section id="Header" class="py-2">
        <div class='container text-center'>
            <h1>Your one stop Marketplace</h1>
        </div>
    </section>

    <!-- Implementing search bar with angular -->
    <section id="searchBar">
        <div class="container">
            <div class="input-group mb-3 justify-content-center">
                <input class="w-25 rounded text-center" type="text" ng-model="searchItem" class="form-control" placeholder="Search for something!"
                    aria-label="Example text with button addon" aria-describedby="button-addon1">
                
            </div>

            <div class="container text-center">
                <h4>Displaying search results for: <span style="color:firebrick">{{searchItem}}</span></h4>
            </div>
        </div>
    </section>

    <!-- Use Angular templates to repeat cards of products -->
    <section id="market">
        <div>

        </div>
    </section>


    {% include 'footer.html' %}

</body>

</html>