<!doctype html>
<html lang="en">

<head>
    {% include 'head.html' %}

    <style>
        .box {
            width: 400px;
            height: auto;
        }

        .form-group {
            width: 400px;
        }
    </style>
    <title>Registation Form</title>
</head>

<body>
    {% include 'nav.html' %}

    <div class="container">
        <h1> Registration Form</h1>

        <form action="{{ url_for('configure_signup') }}" method="POST">

            <div class="row">
                <div class=form-group>
                    <h6>Select Account Type:</h6>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="acctType" id="acctType" value="business">
                        <label class="form-check-label" for="acctType">Business Account</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="acctType" id="acctType2" value="customer">
                        <label class="form-check-label" for="acctType">Member Account</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                </div>
                <div class="form-group" style="padding-left:30px">
                    <label for="email">Email address:</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                </div>
            </div>
            <div class="row">
                <div class="form-group" style="width:300px;">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control pwd" id="pwd" class="pwd" name="password"
                        placeholder="Password">
                </div>

                <div class="form-group" style="padding-left:130px">
                    <label for="pwd">Confirm Password:</label>
                    <input type="password" class="form-control pwd" id="cpwd" class="pwd"
                        placeholder="Confirm Password">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="email">Paypal account Email address:</label>
                    <input type="email" class="form-control" id="paypal" class="paypal" name="paypalemail"
                        placeholder="Paypal Email">
                </div>
                <div class="form-group" style="padding-left:30px">
                    <label for="email">Confirm Paypal account Email address:</label>
                    <input type="email" class="form-control" id="confirm_paypal" class="paypal"
                        placeholder="Paypal Email">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="address">Address:</label>
                    <textarea class="form-control" id="address" name="address"  placeholder="Address" rows="3"></textarea>
                </div>


                <div class="form-group" style="padding-left:30px" id='descsection'>
                    <label for="description">Description:</label>
                    <textarea class="form-control" id="description" name="description" placeholder="Tell us more about your business..."
                        rows="3"></textarea>
                </div>
            </div>
            <div class="center">
                <button type="submit" class="btn btn-primary btn-lg" id='registerbtn' disabled>Register</button>
            </div>
            <div id='msg'>{{  msg }}</div>
            <script>
                $('#descsection').hide();
                $('input[type=radio][name=acctType]').change(function () {

                    if ($("input[type='radio'][name='acctType']:checked").val()) {
                        var acctType = $("input[type='radio'][name='acctType']:checked").val();

                        $('#registerbtn').prop('disabled', false);

                        if ($("input[type='radio'][name='acctType']:checked").val() == 'business') {
                            $('#descsection').show();
                        } else {
                            $('#descsection').hide();
                        }
                    } else {
                        $('#registerbtn').prop('disabled', true);
                    }
                });
                // $("input:password").keyup(function () {
                //     if ($("#pwd").val() != $("#cpwd").val()) {
                //         $('.container').append("<div class='alert alert-danger' role='alert'>Mismatch Password!</div>");
                //         $('#registerbtn').prop('disabled', true);
                //     } else {
                //         $('#registerbtn').prop('disabled', false);
                //     }
                // });
                // $("input.paypal:email").keyup(function () {
                //     if ($("#paypal").val() != $("#confirm_paypal").val()) {
                //         $('.container').append("<div class='alert alert-danger' role='alert'>Mismatch Paypal Email!</div>");
                //         $('#registerbtn').prop('disabled', true);
                //     } else {
                //         $('#registerbtn').prop('disabled', false);
                //     }
                // });
            </script>
        </form>
    </div>

    {% include 'footer.html' %}

</body>

</html>