<!doctype html>
<html lang="en">

<head>
    {% include 'head.html' %}

    <style>
        .box {
            width: 400px;
            height: auto;
        }

        .form-group {
            width: 400px;
        }

    </style>
    <title>Registation Form</title>
</head>

<body>
    {% include 'nav.html' %}


    <div class="container">
        <h1> Registration Form</h1>

        <form>
            <!-- <div class="form-group">
                <div class="make-switch" data-on="primary" data-off="info">
                    <input type="checkbox" checked>
                </div>
            </div> -->
            <div class="row">

                <div class="form-group">
                    <label for="Bname">Business Name:</label>
                    <input type="text" class="form-control" id="Bname" placeholder="Business Name">
                </div>
                <div class="form-group" style="padding-left:30px">
                    <label for="email">Email address:</label>
                    <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
            </div>

            <div class="row">
                <div class="form-group" style="width:300px;">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Password">
                </div>

                <div class="form-group" style="padding-left:130px">
                    <label for="pwd">Confirm Password:</label>
                    <input type="password" class="form-control" id="cpwd" placeholder="Confirm Password">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="email">Paypal account Email address:</label>
                    <input type="email" class="form-control" id="Paypal" placeholder="Paypal Email">
                </div>
                <div class="form-group" style="padding-left:30px">
                    <label for="email">Confirm Paypal account Email address:</label>
                    <input type="email" class="form-control" id="Paypal" placeholder="Paypal Email">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="BAddress">Business Address:</label>
                    <textarea class="form-control" id="BDescription" placeholder="Business Address" rows="3"></textarea>
                </div>


                <div class="form-group" style="padding-left:30px">
                    <label for="BDescription">Business Description:</label>
                    <textarea class="form-control" id="BDescription" placeholder="Tell us more about your business..."
                        rows="3"></textarea>
                </div>
            </div>
            <div class="center">
                <button type="submit" class="btn btn-primary btn-lg">Register</button>
            </div>
        </form>
    </div>

    {% include 'footer.html' %}

</body>

</html>